@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
     --blue:  #0089b7;
     --darkblue:#003d62;
     --deepblue:#003251;
     --white:#ffffff;
     --black:#000 ;

}
/* navbar start  */
.main{
    width: 100%;
    height: 100vh;
    position: relative;
}

.nav-h1, a{
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    
}.nav-h1:hover{
    color: var(--darkblue);
    text-shadow:0px 0px 25px var(--black);
    transition: .4s;
    transform: translateX();

}
.header{
    width: 100%;
    height:50px;
    background-color: #0089b7;
    display: flex;
    
    justify-content: space-between;
    padding: 1vh 15vw 0 10vw;

}
.nav-ul , li , a {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    font-weight: 900;
    
    font-size: 3vh;
    
}
.a-1:hover{
    color: var(--darkblue);
    text-shadow:0px 0px 25px var(--darkblue);
    transition: .4s;
    transform: translateX();
}
.nav-ul{
    display: flex;
    gap: 3vw;
    align-items: center;
    margin-top: 1.5vh;

    
}
.nav-ul>i{
    font-size: 4vh ;
    display: none;
     }
/* nav responsive start  */
@media (max-width:600px) {
    .header > h1{
        padding-left: 5vw;
    }
    .nav-ul > li{
        display: none;
        margin-top: 0px;
    }
    .nav-ul{
        margin-top: 0.5vh;
    }
    .header>a {
        font-size: 2vh;
    }
    .nav-ul > i{
        display: block;
        font-size: 3.5vh;
        
        
    }
    .header{
        font-size: x-small;
    }

    
}
/* nav responsive end  */
/* navbar end  */

/* main start  */
.content{
    width: 100%;
    height: calc(100% - 50px) ;
    background-color: var(--darkblue);
    display: flex;
    justify-content: space-between;
    

}
.left-img{
    width: 45vw;
    /* border: 2px solid red; */
    margin-top: 7vh;
    height: 500px;
}
.right{
    margin-top: 40vh;
    margin-right: 15%;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    cursor: pointer;
}
.small{
    font-size: 20px;
}
.hi{
    font-size: 40px;
    color: rgb(255, 255, 179);
}
.sub-heading{
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    letter-spacing: 2px;

}

@media (max-width:600px) {
    
    .content{
        flex-direction: column;
    }
    .left-img{
        margin-top: 8vh;
        width: 100vw;
    }
    .right{
        margin: 0 auto;
        margin-bottom: 70px;

    }

    .hi{
        font-size: 30px
    }
    .head-one{
        font-size: 30px;
    }
    .sub-heading{
        font-size: 30px;
    }
    
}.hr{
    color: var(--blue);
    
    border: 2px solid var(--blue);
}
/* project section start  */
.projects-section{
    background-color:var(--deepblue);
    width: 100%;
    height: 100%;
}
.project-h1{
    color: var(--white);
    text-align: center;
    padding-top: 20px;
}
.project-h1:hover{
    color: var(--blue);
    cursor: pointer;
}
.image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: 0.9;
    border-radius: 5%;
    
}
.img img:hover{
    box-shadow: 0px 0px 10px 10px var(--blue);
    transition: .5s;
    transform: translateY(15px);

}
.row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.hr-2{
    color: var(--blue);
    margin-top: 40px;
    border: 2px solid var(--blue);
}
@media (max-width:600px) {
    .row
    {
        display: flex;
        /* justify-content: space-evenly; */
        flex-direction: column;
        align-items: center;
        

    }
    
    .image{
        width: 100%;
        height: 150px;
        border: 3px solid white;
        margin-top:15px ;
    }
    
}
/* project section end  */
/* about-section start  */
.about-section{
    background-color: var(--darkblue);
    width: 100%;
    height: 100%;
    color: var(--white);
    padding-bottom: 60px;
    
}
.about-h1:hover{
    color: var(--white);
    text-shadow:0px 0px 35px var(--black);
    transition: .4s;
    transform: translateX();
    cursor:pointer;


}
.about-h1 {
    color: var(--white);
    text-align: center;
    padding-top: 70px;
    font-size: 4vw;
}
.social-icon{
    display: flex;
    justify-content: center;
}
.icon-1{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}
.icon-1>i{
    padding-top: 6px;
}
.social-a{
    text-decoration: none;
}
.social-a:hover{
    color: var(--blue);
}
/* reponsive section */
@media (max-width:600px) {
    .social-icon{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-h1{
        font-size: 3.5vh;
    }
    .icon-1>i{
        font-size: 4vh;     
    }
    
}

/* about-section end  */

/* main end  */
/* footer start */
.footer{
    width: 100%;
    height: 100%;
    background-color: var(--deepblue);
}
.footer-h1{
    text-align: center;
    font-size:4vh;
    color: var(--white);
    padding-top: 20px ;
    padding-bottom: 20px ;
}
.name{
    font-size: 4vh;
}
.name:hover{
    color: var(--blue);
    cursor: pointer;
}
@media (max-width:600px) {
    .footer-h1{
        font-size: 2.5vh;
        margin-left: 5vh;
    }
    .name{
        font-size:4vh ;
    }
    
}
/* footer end */
